<nav class=" navbar navbar-expand-lg navbar-light">
  <div class="container">
      <a href="#" class="navbar-brand"><img src="../../assets/images/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNav">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="myNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a href="#learn" class="nav-link">Book a train</a>
              </li>
              <li class="nav-item">
                  <a href="#quiz" class="nav-link">Order Meal</a>
              </li>
              <li class="nav-item">
                  <a href="#instructor" class="nav-link">Stations</a>
              </li>
              <li class="nav-item">
                  <a href="#instructor" class="nav-link">About us</a>
              </li>
              <li class="nav-item">
                  <a href="#instructor" class="nav-link">Contacts</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<!--Introductory Paragraph-->
<section class="text-dark">
  <div class="container">
      <div class="row d-flex align-items-center">
          <div class="col-sm-5 text-center">
              <h5>Madaraka Express - Meal Booking</h5>
              <p>Tired of waiting for the waitress to take your order. Sit down and relax. Order a meal from the below categories. Remember travel is all about fun</p>
              <img src="../../assets/images/train.gif" style="background-color: brown;"/>
          </div>
          <div  id="carouselExampleControls" class=" col-sm-7 carousel slide d-none d-sm-block" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <!-- <img src="..." class="d-block w-100" alt="..."> -->
                      <div class="onee"></div>
                  </div>
                  <div class="carousel-item">
                      <!-- <img src="..." class="d-block w-100" alt="..."> -->
                      <div class="two"></div>
                  </div>
                  <div class="carousel-item">
                      <!-- <img src="..." class="d-block w-100" alt="..."> -->
                      <div class="three"></div>
                  </div>
                  <div class="carousel-item">
                      <!-- <img src="..." class="d-block w-100" alt="..."> -->
                      <div class="four"></div>
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
  </div>
</section>
<div class="container">
  <h5>Meal Categories <i class="fa-solid fa-cart-plus"></i></h5>
  <div class="buttons">
      <button>Drinks</button>
      <button>Meals</button>
      <button>Greens</button>
      <button>Stew</button>
      <button>Snacks</button>
  </div>
  <div class="instructions d-sm-flex align-items-center justify-content-between">
    <div class="ordering">
      <ul>
        <li>Click the order button to order a single item.</li>
        <li>Add to cart if you need to order multiple items.</li>
        <li>Payment Systems incorporation.</li>
      </ul>
    </div>
    <div class="delivery">
      <ul>
        <li>Your order will be deliverred in less than five minutes</li>
        <li>Due to the limited time, no cancelling once ordered.</li>
        <li>Call this number incase your order delays- 0114830685/0768761610</li>
      </ul>
    </div>
  </div>
</div>
<app-items></app-items>
